.idea

backup/*
!backup/.gitkeep

conf.override/*
!conf.override/.gitkeep

logs/*
!logs/.gitkeep

node_modules/
yarn.lock

.env
.env.distro

pages/docs
pages/README.md

.history
megalinter-reports

vendor

TODO.local.md

tmp

/downloadedDistros/
!/downloadedDistros/.gitkeep
