.idea

backup/*
!backup/.gitkeep

conf.override/*
!conf.override/.gitkeep

logs/*
!logs/.gitkeep

node_modules/
yarn.lock

.env
.env.distro

/profile.*.sh
!/profile.default.sh
!/profile.default.wsl.sh
!/profile.default.virtualBox.sh
!/profile.dnsFix.sh

pages/docs
pages/README.md

.history
megalinter-reports

vendor

TODO.local.md

tmp
