.idea

backup/*
!backup/.gitkeep

conf.override/*
!conf.override/.gitkeep

logs/*
!logs/.gitkeep

node_modules/
yarn.lock

.env

/profile.*.sh
!/profile.default.sh
!/profile.default.wsl.sh
!/profile.default.virtualBox.sh
!/profile.dnsFix.sh

pages/docs
pages/README.md

.history
megalinter-reports

vendor

TODO.local.md

# bash-tools-framework binaries
/bin/awkLint
/bin/buildBinFiles
/bin/buildPushDockerImages
/bin/dockerLint
/bin/generateShellDoc
/bin/runBuildContainer
/bin/shellcheckLint
/bin/test
/bin/megalinter
/bin/findShebangFiles
/bin/frameworkLint
/bin/definitionLint
